/* Reset de estilos */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Estilos gerais para o corpo da página */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Container principal */
.container {
  width: 90%;
  max-width: 900px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  overflow: hidden; /* Evita que o conteúdo vaze para fora do container */
}

/* Títulos */
h2, h3 {
  text-align: center;
  margin-bottom: 20px;
}

/* Estilos para o formulário */
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input[type="text"] {
  width: calc(100% - 20px);
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Estilos para o botão "Adicionar" */
.form-group button[type="button"] {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease; /* Transição suave de cor de fundo */
}

.form-group button[type="button"]:hover {
  background-color: #0056b3; /* Cor mais escura ao passar o mouse */
}
.espaco-vertical {
  margin-top: 20px;
}


/* Estilos para a tabela */
.table-container {
  margin-top: 20px;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  padding: 8px;
  text-align: center;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

/* Estilos para a lista de palavras */
.exibe-palavras {
  margin-top: 20px;
}

.exibe-palavras p {
  margin-bottom: 5px;
  padding: 8px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.exibe-palavras .remover {
  margin-left: 10px;
  padding: 6px;
  cursor: pointer;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
}

/* Estilos para mensagens de aviso */
.warning-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
}

.warning {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  font-size: 16px;
}

.warning.success {
  background-color: #28a745;
  color: white;
}

.warning.error {
  background-color: #dc3545;
  color: white;
}

/* Estilos para palavras válidas e inválidas */
.palavra-correta {
  color: #28a745;
  font-weight: bold;
}

.palavra-incorreta {
  color: #dc3545;
  font-weight: bold;
}

/* Media query para telas menores */
@media (max-width: 600px) {
  .container {
    width: 100%;
    padding: 10px;
  }
}
